doctype html
html(ng-app='firebaseApp')
  head
    title Home | Admin Panel
    meta(name='viewport', content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='../styles/style.css')
    link(rel='stylesheet', href='../bower_components/angular-material/angular-material.min.css')

    body

      md-content(layout='column')
        md-toolbar(layout='row', ng-controller='HomeCtrl')
          .md-toolbar-tools.top-navbar
                h2
                  span ICS Live Admin Panel
                span(flex='')
                md-button.md-raised(aria-label='Log out', ng-click='logOut()') Log out




        div(ng-cloak='')
          md-content
            md-tabs(md-dynamic-height='', md-border-bottom='')
              md-tab(label='Master Data')
                md-content.md-padding(ng-controller='MasterDataCtrl', layout='column')
                  ng-include(src="page")





      script(src='../bower_components/firebase/firebase.js')

      script(src='../bower_components/jquery/dist/jquery.min.js')
      script(src='../bower_components/angular/angular.min.js')
      script(src='../bower_components/ngclipboard/ngclipboard.min.js')
      script(src='../bower_components/angular-aria/angular-aria.min.js')
      script(src='../bower_components/angular-animate/angular-animate.min.js')
      script(src='../bower_components/angular-messages/angular-messages.min.js')
      script(src='../bower_components/firebase-util/dist/firebase-util.min.js')
      script(src='../bower_components/angularfire/dist/angularfire.min.js')
      script(src='../bower_components/angular-material/angular-material.min.js')
      script(src='../bower_components/angular-file-upload/dist/angular-file-upload.min.js')

      script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js')

      script(src='../scripts/app.js')
      script(src='../scripts/controllers/home.js')
      script(src='../scripts/controllers/masterdata.js')
      script(src='../scripts/controllers/users.js')
      script(src='../scripts/controllers/mcq.js')
      script(src='../scripts/controllers/note.js')
      script(src='../scripts/controllers/video.js')
      script(src='../scripts/controllers/wait.js')
